<div class="container mt-4">
  <h1 class="mb-4">Список инцидентов</h1>

  <div class="table-container">
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Дата и время инцидента</th>
        <th>Дата и время создания</th>
        <th>Используемые ресурсы</th>
        <th>Описание</th>
        <th>Степень важности</th>
        <th>Ответственный</th>
        <th>Статус</th>
        <th>Дата и время закрытия</th>
        <th>Решение</th>
        <th>Примечания</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let incident of incidents">
        <td>{{ incident.id }}</td>
        <td>{{ incident.happensDateAndTime | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ incident.creatingDateAndTime | date: 'dd-MM-yyyy HH:mm' }}</td>
        <td>{{ incident.resourceUsed }}</td>
        <td>
          <span>{{ incident.incidentDescription.length > 10 ? (incident.incidentDescription | slice:0:10) + '...' : incident.incidentDescription }}</span>
          <button type="button" class="btn btn-link" (click)="openModal(incident.incidentDescription)">Подробнее</button>
        </td>
        <td>{{ incident.degreeOfImportant }}</td>
        <td>{{ incident.responsible }}</td>
        <td>{{ incident.status }}</td>
        <td>{{ incident.closingDateAndTime || 'Инцидент ещё не закрыт.' }}</td>
        <td>{{ incident.decision || 'Ещё не решен.' }}</td>
        <td>
          <span>{{ incident.note.length > 10 ? (incident.note | slice:0:10) + '...' : incident.note }}</span>
          <button type="button" class="btn btn-link" (click)="openModal(incident.note)">Подробнее</button>
        </td>
        <td>
          <a [routerLink]="['/incidents', incident.id, 'edit']" class="btn btn-warning btn-sm">Закрыть</a>
          <button class="btn btn-danger btn-sm" (click)="deleteIncident(incident.id)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="position-absolute top-0 end-0 mt-5 me-5">
    <a routerLink="/incidents/new" class="btn btn-primary">Добавить новый инцидент</a>
  </div>

  <!-- Модальное окно -->
  <div class="modal fade" id="infoModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Детали</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {{ modalContent }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>
